/* COUNT DOWN CSS

.countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .countdown__box svg {
    position: relative;
  }
  
  .countdown__box svg circle {
    transform: rotate(-90deg);
    transform-origin: center;
    fill: transparent;
  }
  
  .countdown__box_circles {
    position: relative;
    width: 75px;

  }
  
  .countdown__box_left_mobile {
    position: absolute;
    top: 64%;
    left: 53%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 20px;
    background: white;
    width: 67%;
    height: 45%;
    border-radius: 50%;
    color: #71728E;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .countdown__box_left_mobile .digits {
    font-size: 20px;
    font-weight: 700;
  }
  
  .countdown__box_left_mobile .labels {
    font-size: 7px;
    font-weight: 700;
  }
  
  .countdown__box_label {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
  } */