.ReactFlagsSelect-module_flagsSelect__2pfa2 {
    position: relative;
    vertical-align: inherit;
    padding-bottom: 5px;
    /* text-align: left; */
    width: 71px;
    left: 0%;
    position: absolute;
}


.ReactFlagsSelect-module_selectBtn__19wW7 {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    font-family: inherit;
    color: #4d4d4d;
    border: none !important;
    border-radius: 0px !important;
    background: transparent;
}

.ReactFlagsSelect-module_fullWidthOptions__1XeR6 {
    right: 0;
    left: 0;
    max-height: 150px;
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {

    .col-12 {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    .Form_Wrapper {
        padding: 0 0rem;
        margin: 5px 0px;
    }
    .form_input{
        max-width: 100%;
    }
    .form-field{
        display: flex;
        justify-content: flex-end;
    }

   .form-field input{
    padding-left: 15px;
   }
    .form-field input::placeholder{
     padding-left: 5px;
    }
}

@media (width:820px) {
    .form-field{
        display: flex;
        justify-content: flex-end;
    }

    .form_input{
        max-width: 70%;
    }
}

@media (width:912px) {
    .form-field{
        display: flex;
        justify-content: flex-end;
    }

    .form_input{
        max-width: 70%;
    }
}

