@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-light-gray {
    background-color: #F0F0F0
  }

  .bg-light-red {
    background-color: #E84025
  }

  .border-3 {
    border-width: 3px
  }
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}


/* COUNT DOWN CSS */

.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.countdown__box svg {
  position: relative;
}

.countdown__box svg circle {
  transform: rotate(-90deg);
  transform-origin: center;
  fill: transparent;
}

.countdown__box_circles {
  position: relative;
}

.countdown__box_left {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: 20px;
  background: white;
  width: 76%;
  height: 76%;
  border-radius: 50%;
  color: #71728E;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.countdown__box_left .digits {
  font-size: 33px;
  font-weight: 700;
}

.countdown__box_left .labels {
  font-size: 11px;
  font-weight: 700;
}

.countdown__box_label {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.main {
  width: 100%;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, .4);
  /* background-color: #000000cc; */
}

video {
  width: 100%;
  bottom: 0px;
  object-fit: cover;
}

.content {
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-bottom: 20px;
  /* color: white; */
}

.main_wrapper {
  padding: 20px 45px;
}

.white_background {
  background: #ffffff75;
  padding: 10px 45px;
  height: min-content;
}

.black_big {
  color: black;
  text-align: center;
  font-weight: 600;
  font-size: 3vw;
  letter-spacing: 20px;
  text-shadow: 0px 2px 10px #827c7c;
  line-height: 50px;
}

.red_big {
  color: #D6420B;
  text-align: center;
  font-weight: 600;
  font-size: 2vw;
  text-shadow: 0px 2px 5px #555555;
  line-height: 43px;
}

.black_small {
  color: black;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
}

.red_small {
  color: #D6420B;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 13px;
}

.black_paragraph {
  padding: 0 30%;
  text-align: justify;
  font-size: 13px;
}

.Form_Wrapper {
  padding: 0 7rem;
}

.undertext {
  font-size: 13px;
  text-align: center;
  padding: 0 26rem;
}

.under_red_text {
  color: #D6420B;
  text-align: center;
}

.sabadel_logo {
  width: 110px;
  margin: 0 auto;
}


/*  ================================ RESPONSIVE CSS ================== */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (max-width: 1200px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (max-width: 992px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 768px) {}


/* Medium devices (landscape tablets, 768px and up and laptops/desktops) */
@media (width:820px) {

  .black_big {
    font-size: 3rem;
  }

  .red_big {
    font-size: 2rem;
  }

  .main_wrapper {
    padding: 15rem 0px;
  }

  .black_paragraph {
    padding: 0 25%;
    text-align: justify;
    font-size: 13px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 78vh;
    background-color: rgba(0, 0, 0, .4);
    /* background-color: #000000cc; */
  }

  video {
    width: 100%;
    height: 112vh;
    object-fit: cover;
  }

  .web_text {
    padding: 20px;
  }

  .footer_text {
    margin-top: -8rem;
  }

  .undertext {
    font-size: 20px;
    text-align: center;
    padding: 30px;
  }

  .footer_text p {
    font-size: 20px;
  }

  .footer_text img {
    width: 55%;
  }
}


@media (width:768px) {

  .main_wrapper {
    padding: 6rem 0px;
  }

  .black_big {
    font-size: 2.5rem;
  }

  .red_big {
    font-size: 2rem;
  }

  .black_paragraph {
    padding: 0 25%;
    text-align: justify;
    font-size: 13px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 78vh;
    background-color: rgba(0, 0, 0, .4);
    /* background-color: #000000cc; */
  }

  video {
    width: 100%;
    height: 104vh;
    object-fit: cover;
  }

  .undertext {
    font-size: 18px;
    text-align: center;
    padding: 20px;
  }

  .footer_text p {
    font-size: 15px;
  }

  .footer_text img {
    width: 60%;
  }
}

@media (width:912px) {

  .main_wrapper {
    padding: 17rem 0px;
  }

  .black_big {
    font-size: 2.5rem;
  }

  .red_big {
    font-size: 2rem;
  }

  .black_paragraph {
    padding: 0 25%;
    text-align: justify;
    font-size: 13px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 66.5vh;
    background-color: rgba(0, 0, 0, .4);
    /* background-color: #000000cc; */
  }

  video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .footer_text {
    margin-top: -8rem;
  }


  .undertext {
    font-size: 18px;
    text-align: center;
    padding: 20px;
  }

  .footer_text p {
    font-size: 15px;
  }

  .footer_text img {
    width: 60%;
  }
}


@media screen and (width: 375px)  {
  .main {
    width: 100%;
    height: 100vh;
  }
  
  video {
    width: 100%;
    height: 168vh !important;
    object-fit: cover;
  }
}

@media screen and (width: 390px )  {
  .main {
    width: 100%;
    height: 100vh;
  }
  
  video {
    width: 100%;
    height: 127vh !important;
    object-fit: cover;
  }
}

@media screen and (width: 393px )  {
  .main {
    width: 100%;
    height: 100vh;
  }
  
  video {
    width: 100%;
    height: 127vh !important;
    object-fit: cover;
  }
}


@media screen and (width: 360px )  {
  .main {
    width: 100%;
    height: 100vh;
  }
  
  video {
    width: 100%;
    height: 150vh !important;
    object-fit: cover;
  }
}

@media screen and (width: 412px )  {
  .main {
    width: 100%;
    height: 100vh;
  }
  
  video {
    width: 100%;
    height: 116vh !important;
    object-fit: cover;
  }
}

@media screen and (width: 540px )  {
  .main {
    width: 100%;
    height: 100vh;
  }
  
  video {
    width: 100%;
    height: 112vh !important;
    object-fit: cover;
  }
  .black_paragraph {
    padding: 20px;
  }
}


@media screen and (width: 280px )  {
  .main {
    width: 100%;
    height: 100vh;
  }
  
  video {
    width: 100%;
    height: 237vh !important;
    object-fit: cover;
  }
}

@media screen and (width: 414px) {
  .main {
    width: 100%;
    height: 100vh;
  }
  
  video {
    width: 100%;
    height: 116vh !important;
    object-fit: cover;
  }
}




/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {

  .main_wrapper {
    padding: 17rem 0px;
  }

  .main {
    width: 100%;
    height: 100vh;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    /* background-color: #000000cc; */
  }

  video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .footer_wraper {
    margin-top: 20px;
  }

  .content {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 5rem;
    /* color: white; */
  }


  .main_wrapper {
    padding: 0px;
  }

  .black_big {
    font-size: 2rem;
    letter-spacing: 12px;
  }

  .red_big {
    font-size: 1.8rem;
  }

  .black_small {
    font-size: 15px;
  }

  .red_small {

    font-size: 13px;
  }

  .black_paragraph {
    padding: 10px;
  }

  .undertext {
    font-size: 13px;
    text-align: center;
    padding: 0px;
  }

  .footer_text p {
    font-size: 10px;
  }

  .footer_text img {
    width: 50%;
  }

 

}